Pandas: It is a define as files. It is use for perform the operation on data.

Syntax: import pandas

Series Examples

In [14]:
import pandas as pd
a = pd.Series([10, 20, 30])
print(a)

0    10
1    20
2    30
dtype: int64

In [3]:
data = [1, 2, 3, 4, 5]
series_from_list = pd.Series(data)
print(series_from_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
# From a numpy array
import numpy as np
data = np.array([1, 2, 3, 4, 5])
series_from_array = pd.Series(data)
print(series_from_array)

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [5]:
print(series_from_array[0])

1

In [6]:
#create lables as index
import pandas as pd
a = [1, 7, 2]
v= pd.Series(a, index = ["x", "y", "z"])
print(v)

x    1
y    7
z    2
dtype: int64

In [7]:
print(v["z"])

2

In [8]:
v.sort_index()

x    1
y    7
z    2
dtype: int64

In [9]:
# From a dictionary
import pandas as pd
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
series_from_dict = pd.Series(data)
print(series_from_dict)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
# From a scalar value
series_from_scalar = pd.Series(10, index=['a', 'b', 'c', 'd', 'e'])
print(series_from_scalar)

a    10
b    10
c    10
d    10
e    10
dtype: int64

In [11]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrive last 3 element
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [12]:
#retrive multiple elements
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [13]:
data={'a':0.,'b':1.,'c':2.}
s1=pd.Series(data)
print(s1)
s2=pd.Series(data,index=['b','c','d','a'])
print(s2)

a    0.0
b    1.0
c    2.0
dtype: float64
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

Series operations

In [15]:
import pandas as pd 
import numpy as np

In [16]:
s1=pd.Series(np.arange(4),
             index=["a","c","d","e"])
print(s1)

a    0
c    1
d    2
e    3
dtype: int32

In [17]:
s2=pd.Series(np.arange(5),
             index=["a","c","e","f","g"])
print(s2)

a    0
c    1
e    2
f    3
g    4
dtype: int32

In [18]:
s1+s2

a    0.0
c    2.0
d    NaN
e    5.0
f    NaN
g    NaN
dtype: float64

In [19]:
a=s.reindex(["b","d","a","c","e"])
print(a)

b    2
d    4
a    1
c    3
e    5
dtype: int64

In [20]:
s3=pd.Series(["blue","yellow","purple"],
             index=[0,2,4])
s3

0      blue
2    yellow
4    purple
dtype: object

In [21]:
s4=s3.drop(2);s4

0      blue
4    purple
dtype: object

In [24]:
s=pd.Series(["b","b","b","b","c",
             "c","a","a","a"])
s

0    b
1    b
2    b
3    b
4    c
5    c
6    a
7    a
8    a
dtype: object

In [25]:
s.unique()

array(['b', 'c', 'a'], dtype=object)

In [26]:
s.value_counts()

b    4
a    3
c    2
Name: count, dtype: int64

In [28]:
x=s.isin(["b","c"])
x

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7    False
8    False
dtype: bool

DataFrames

In [36]:
import pandas as pd
data = {
    "name": ['abc', 'xyz'],
    "rollno": [2, 4]
}
a1 = pd.DataFrame(data, index=['a', 'b'])
print(a1)

  name  rollno
a  abc       2
b  xyz       4

In [1]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [24, 27, 22, 32, 29],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eva   29      Phoenix

In [5]:
# Display the first few rows of the DataFrame
df.head()

   Serial no
0        1.0
1        2.0
2        3.0
3        4.0
4        5.0

In [7]:
# Display the last few rows of the DataFrame
df.tail()

   Serial no
0        1.0
1        2.0
2        3.0
3        4.0
4        5.0

In [8]:
# Get the shape of the DataFrame
df.shape

(5, 1)

In [10]:
# Get statistical summary of the DataFrame
df.describe()

       Serial no
count   5.000000
mean    3.000000
std     1.581139
min     1.000000
25%     2.000000
50%     3.000000
75%     4.000000
max     5.000000

In [12]:
# Access a specific row by index
df.loc[1]

Serial no    2.0
Name: 1, dtype: float64

In [13]:
# Access multiple rows by index
df.loc[1:3]

   Serial no
1        2.0
2        3.0
3        4.0

In [3]:
data2=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data2)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [4]:
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data,columns=['Serial no'],dtype=float)
print(df)
data1=[['Alex',10],['Bob',12],['Clark',13]]
df1=pd.DataFrame(data1,)
print(df1)

   Serial no
0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
       0   1
0   Alex  10
1    Bob  12
2  Clark  13

In [14]:
data={'name':['tom','jack','steve','ricky'],'Age':[28,34,23,34]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        name  Age
rank1    tom   28
rank2   jack   34
rank3  steve   23
rank4  ricky   34

In [16]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a', 'b'])
print("DataFrame df:")
print(df)
print("\nDataFrame df2:")
print(df2)

DataFrame df:
   a  b
0  1  2
1  3  4

DataFrame df2:
   a  b
0  5  6
1  7  8

In [ ]:
#Dataframe using read csv
import pandas as pd
df_csv = pd.read_csv('data.csv')
df_csv

In [ ]:
#Dataframe using xlsx file
import pandas as pd
df_xlsx = pd.read_excel('data.xlsx')
df_xlsx

In [20]:
import pandas as pd
# Create a matrix (list of lists)
matrix = [
    [1, 2],
    [3, 4],
    [5, 6],
    [7, 8]
]
df_matrix = pd.DataFrame(matrix, columns=['Column1', 'Column2'])
print(df_matrix)

   Column1  Column2
0        1        2
1        3        4
2        5        6
3        7        8

Dataframe Operation

In [1]:
import pandas as pd
data = {
    'A': [1, 2, 2, 3, 4, 4, 4, 5],
    'B': ['a', 'b', 'b', 'c', 'd', 'd', 'd', 'e'],
    'C': [10, 20, 20, 30, 40, 40, 40, 50]
}
df = pd.DataFrame(data)
print(df)

   A  B   C
0  1  a  10
1  2  b  20
2  2  b  20
3  3  c  30
4  4  d  40
5  4  d  40
6  4  d  40
7  5  e  50

In [2]:
#Value Counts
print("\nValue counts for column 'A':")
print(df['B'].value_counts())

Value counts for column 'A':
B
d    3
b    2
a    1
c    1
e    1
Name: count, dtype: int64

In [3]:
#apply
print("\nApplying a lambda function to double the values in column 'C':")
df['C'] = df['C'].apply(lambda x: x * 2)
print(df)

Applying a lambda function to double the values in column 'C':
   A  B    C
0  1  a   20
1  2  b   40
2  2  b   40
3  3  c   60
4  4  d   80
5  4  d   80
6  4  d   80
7  5  e  100

In [4]:
#unique
print("\nUnique values in column 'A':")
print(df['A'].unique())

Unique values in column 'A':
[1 2 3 4 5]

In [5]:
#nunique
print("\nNumber of unique values in column 'B':")
print(df['B'].nunique())

Number of unique values in column 'B':
5

In [6]:
#describe
print("\nDescriptive statistics for the DataFrame:")
print(df.describe())

Descriptive statistics for the DataFrame:
              A           C
count  8.000000    8.000000
mean   3.125000   62.500000
std    1.356203   27.124054
min    1.000000   20.000000
25%    2.000000   40.000000
50%    3.500000   70.000000
75%    4.000000   80.000000
max    5.000000  100.000000

In [8]:
#Hierarchical Index
import pandas as pd
arrays = [
    ['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
    ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']
]
index = pd.MultiIndex.from_arrays(arrays, names=('first', 'second'))
data = {'A': [1, 2, 3, 4, 5, 6, 7, 8], 'B': [9, 10, 11, 12, 13, 14, 15, 16]}
df_hierarchical = pd.DataFrame(data, index=index)
print(df_hierarchical)

              A   B
first second
bar   one     1   9
      two     2  10
baz   one     3  11
      two     4  12
foo   one     5  13
      two     6  14
qux   one     7  15
      two     8  16

In [10]:
import pandas as pd
import numpy as np
df1=pd.DataFrame(
    np.arange(6).reshape(2,3),
    columns=list("ABC"),
    index=["Tim","Tom"])
df2=pd.DataFrame(
    np.arange(9).reshape(3,3),
    columns=list("ACD"),
    index=["Tim","Kate","Tom"])
print(df1)
print(df2)

     A  B  C
Tim  0  1  2
Tom  3  4  5
      A  C  D
Tim   0  1  2
Kate  3  4  5
Tom   6  7  8

In [11]:
df1.add(df2,fill_value=0)

        A    B     C    D
Kate  3.0  NaN   4.0  5.0
Tim   0.0  1.0   3.0  2.0
Tom   9.0  4.0  12.0  8.0

In [12]:
print(df1*3);
df1.mul(3)

     A   B   C
Tim  0   3   6
Tom  9  12  15

     A   B   C
Tim  0   3   6
Tom  9  12  15

In [13]:
1/df1

            A     B    C
Tim       inf  1.00  0.5
Tom  0.333333  0.25  0.2

In [1]:
# Locate Named Indexes
import pandas as pd
x={"calories":[420,350,260],"Duration":[50,65,45]}
df=pd.DataFrame(x,index=["Day1","Day2","Day3"])
print(df.loc["Day3"])

calories    260
Duration     45
Name: Day3, dtype: int64

In [2]:
import pandas as pd
d = {'col1': [4,6,9,16,19], 'col2': [15,19,24,27,29], 'col3': [34,29,20,39,20]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2  col3
0     4    15    34
1     6    19    29
2     9    24    20
3    16    27    39
4    19    29    20

In [3]:
count_column = df.shape[1]
print(count_column)

3

In [4]:
count_row = df.shape[0]
print(count_row)

5

In [7]:
import pandas as pd
matrix = [
    [3,6,7],
    [9,13,15],
    [21,25,27]
]
df = pd.DataFrame(matrix, columns=['A', 'B', 'C'])
print(df)

    A   B   C
0   3   6   7
1   9  13  15
2  21  25  27